* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #808080;
}

/* UTILITIES */
.container {
  width: 80%;
  margin: 0 auto;
}

.w-33 {
  width: calc(100% / 3);
  padding: 40px 20px;
}

.w-50 {
  width: 50%;
  padding: 50px 80px;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  font-weight: 500;
}

h2 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #000;
}

p {
  font-size: 19px;
  line-height: 1.5em;
}

a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

/* BUTTONS */
.button {
  display: inline-block;
  min-width: 100px;
  line-height: 20px;
  padding: 10px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 5px;
}

.button-green {
  background-color: #7cbb02;
  border: none;
}

.button-big {
  padding: 20px;
}

/* MENU */
.list-inline li {
  display: inline-block;
  padding: 0 10px;
  list-style: none;
}

.list-inline li:first-child {
  padding-left: 0;
}

.list-inline li:last-child {
  padding-right: 0;
}

/* HEADER */
.main-header {
  height: 560px;
  background-color: #0c325a;
  background-image: url('../img/background-header.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 1000px;
}

/* nav-bar */
.nav-bar {
  height: 80px;
  line-height: 80px;
  font-size: 14px;
}

.nav-bar-logo img {
  vertical-align: middle;
}

.nav-bar-logo {
  width: 15%;
}

.nav-bar-menu {
  width: 45%;
}

.nav-bar-joinus {
  width: 40%;
  text-align: right;
}

/* jumbotron */
.jumbo {
  position: relative;
  height: 480px;
}

.jumbo-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 50%;
}

.jumbo-text h1 {
  margin-bottom: 30px;
  font-size: 56px;
  color: #fff;
}

/* MAIN */
/* efficiency */
.efficiency {
  background-color: #d3d3d3;
  padding: 40px 15px;
}

.efficiency p {
  font-size: 20px;
}

/* info */
.info {
  border-bottom: 1px solid grey;
}

.info-box img {
  height: 160px;
  margin-bottom: 30px;
}

.info-box h3 {
  min-height: 100px;
  color: #7cbb02;
  font-size: 28px;
}

.info-box p::before {
  display: block;
  margin: 0 auto 30px auto;
  content: '';
  height: 1px;
  width: 80px;
  background-color: #808080;
}

/* placement */
.placement-test p {
  margin-bottom: 20px;
}

.placement-test a {
  text-transform: none;
  text-decoration: underline;
  color: #5586bc;
}

/* FOOTER */
footer {
  height: 162px;
  line-height: 162px;
  background-color: #d3d3d3;
}

footer h2 {
  width: 40%;
  margin: 0;
}

footer ul {
  width: 60%;
  text-align: right;
}

.footer-selection a {
  text-transform: none;
  color: #808080;
  border-bottom: 1px solid #808080;
}

.footer-selection i{
  margin-left: 50px;
}

/* HELP FIXED */
.help {
  position: fixed;
  bottom: 0;
  right: 15vw;
  min-width: 0;
  border-radius: 5px 5px 0 0;
}
